
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
/* background-color: #796087; */
background: linear-gradient(to right, #796087, #c1adc1);
background-size: cover;
background-position: center;
}


.login-title {
  font-family: 'Grand Hotel', cursive;
  font-size: 32px;
  text-align: center;
  color: #777373;
  margin-bottom: 30px;
}



.login-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

.login-footer a {
  color: #00376b;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

.login-form {
  background-color: #846b91;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #ffffff00;
  padding: 120px;
  margin: 0 auto;
  max-width: 600px;
  width: 300px;
border-radius: 20px;
padding-top: 30px;
padding-bottom: 70px;
}



.form-group {
  margin-bottom: 10px;
}

.submit{
  margin-top: 10px;
  margin-right: 27px;
  width: 100%;
  /* padding: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4c2f65, #cf83cf);
  color: #090909;
  border: none;

  font-size: 20px;
  /* cursor: pointer; */

  border-radius: 30px;
}


.labelE{
color: #ffffff;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
padding-right: 10px;
font-size: 18px;

}
.labelP{
color: #ffffff;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
padding-right: 20px;
padding-left: -100px;
font-size: 18px;
}



input{
  padding-right: 100px;
/* background-color: #ffffffd1; */
background: #c8c3c3;
border-color: #fff;
}

.error{
color: #551b1b;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
text-align: center;
margin-top: 10px;
margin-right: 27px; 
}



.h{

color: #ffffff;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
font-size: 20px;
}
H5{
color: #ffffff;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
font-size:15px;


}
.logo{
justify-content: center;
width: 120px;

}