
  footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #846b91; */
    background: linear-gradient(to right, #846b91, #846b91);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
 
 
  
  
  a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    
  }
  
  
 input{
    padding-top: 5px;
    padding-bottom: 5px;
   
 }
 img{
width:15%;
 }
 .profile{
 width:35px;
 height:35px;
 margin-left: 20px;
 margin-right: 20px;
 padding-right: 30px;
 }
 
 
.AboutUs{
padding-left: 30px;
justify-content: center;
justify-items: center;
background-color:#e9e7e7;
  color:#5a428b;
  
  border: none;
  padding: 1px 22px;
  font-size: 12px;
  border-radius: 20px;
}


.AboutUs:hover {
  background-color:#391642;
  color: white;
  
}