.home{
    /* background: linear-gradient(to right, #796087, #c1adc1); */
    background-color: #796087;
}
@media (max-width: 768px) {
    .home {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  
  